<div class="nested-fields">
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, "Phone number" %>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.check_box :primary %>
    <%= f.label :primary, 'Primary address?' %>
  </div>
  <hr>
  <%= link_to_remove_association "Remove address", f %>
</div>
