<% if object.errors.any? %>
  <div class="alert alert-warning">
    <h4>The following errors were found</h4>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
