<h1>Contact List</h1>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email id</th>
      <th>Primary address</th>
      <th>Primary phone</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.fname + ' ' + contact.lname %></td>
      <td><%= contact.email %></td>
      <% @details = contact.details %>
      <td><%= @details.find_by_primary(true).address %></td>
      <td><%= @details.find_by_primary(true).phone %></td>
    </tr>
    <% end %>
  </tbody>
</table>
