<h1>Add new contact</h1>

<%= form_for(@contact) do |f| %>
  <%= render 'errors', object: f.object %>

  <div class="form-group">
    <%= f.label :fname, "First name" %>  
    <%= f.text_field :fname, required: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :lname, "Last name" %>
    <%= f.text_field :lname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, required: true, class: 'form-control' %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Address</div>
    <div class="panel-body">
      <h4>Select only 1 as primary.</h4>
      <%= f.fields_for :details do |addr| %>
        <%= render 'details_fields', f: addr %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add address', f, :details %>
      </div>
    </div>
  </div>    

  <%= link_to 'Cancel', root_path %> &nbsp&nbsp 
  <%= f.submit "Save", class: "btn btn-primary" %>

<% end %>
