<!DOCTYPE html>
<html>
<head>
  <title>Contact Management System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'All contacts', root_path %></li>
      <li><%= link_to 'Add new', new_path %></li>
    </ul>
  </div>
  <div class="container">
    <% flash.each do |key,value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

      <%= yield %>

  </div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
